# Wymagane biblioteki dla chatbota RAG z Qdrant
requests
sentence-transformers
streamlit
qdrant-client
langchain
langchain-community
langchain-core
torch
transformers
pypdf
python-docx
unstructured
llama-cpp-python
langchain-qdrant
langchain-openai
spacy>=3.0.0 # Dla NER
networkx # Dla budowy grafu wiedzy
streamlit-agraph # Dla wizualizacji grafu wiedzy
scikit-learn # Dla klastrowania
pandas # Do obsługi danych
numpy # Wymagane przez pandas/scikit-learn
langchain-google-genai # Do obsługi API Google Gemini
scipy # Wymagane do obliczeń naukowych (np. cdist w ui_streamlit)